# All hidden files and directories
.*

# Enable hidden files with extensions
!.*.*

# Enable all hidden directories
!.*/

# Archives
*.zip
*.gz
*.tgz

# Build
build/
dist/

# Dependencies
node_modules/

# Git
.git/

# Git hooks
hooks/*
!hooks/*.js
!hooks/*.ts

# Lock files
package-lock.json
yarn.lock

# Misc
etc/

# Sample of .env and .envrc files
.env.example
.env.sample
.envrc.example
.envrc.sample

# Shell scripts
*.sh

# Tests coverage
coverage/
