# Build
build/
dist/

# Cloudflare
.wrangler/

# Dependencies
node_modules/

# .dev.vars, .env, .envrc
.dev.vars
.dev.vars.*
.env.local
.env.*.local
.envrc

# Lint Staged
.lint-staged-temp-tsconfig.json

# Misc
.DS_Store
etc/

# Stryker
.stryker-tmp/

# Tests coverage
coverage/
