# All hidden files and directories
.*

# Enable hidden files with extensions
!.*.*

# Enable all hidden directories
!.*/

# Build
build/
dist/

# Cloudflare
.wrangler/
worker-configuration.d.ts

# Dependencies
node_modules/

# .env, .envrc
.env
.env.*
.envrc
.envrc.*

# Git
.git/

# Git hooks
hooks/*
!hooks/*.js
!hooks/*.ts

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Misc
etc/
.DS_Store

# Stryker
.stryker-tmp/

# Tests coverage
coverage/
