name: CI status

on:
  workflow_run:
    workflows: CI
    types: completed
    branches: main

jobs:
  send-status:
    name: Send CI status
    runs-on: ubuntu-latest
    concurrency:
      group: ci-status-${{ github.event.workflow_run.head_sha }}
      cancel-in-progress: true
    env:
      CI_STATE: pending
      CI_DESCRIPTION: Waiting

    steps:
      - name: Get bot token
        id: get-bot-token
        uses: cluenar/actions/get-github-app-token@main
        with:
          app-id: ${{ secrets.CLUENAR_PUBLIC_BOT_APP_ID }}
          private-key: ${{ secrets.CLUENAR_PUBLIC_BOT_PRIVATE_KEY }}

      - name: Set initial state
        if: github.event.action == 'requested'
        run: |
          echo "CI_STATE=pending" >> $GITHUB_ENV &&
          echo "CI_DESCRIPTION=In progress" >> $GITHUB_ENV

      - name: Set success state
        if: github.event.action == 'completed' && github.event.workflow_run.conclusion == 'success'
        run: |
          echo "CI_STATE=success" >> $GITHUB_ENV &&
          echo "CI_DESCRIPTION=Passed" >> $GITHUB_ENV

      - name: Set failure state
        if: github.event.action == 'completed' && github.event.workflow_run.conclusion == 'failure'
        run: |
          echo "CI_STATE=failure" >> $GITHUB_ENV &&
          echo "CI_DESCRIPTION=Failed" >> $GITHUB_ENV

      - name: Send status
        uses: octokit/request-action@v2.1.9
        with:
          route: POST /repos/{owner}/{repo}/statuses/{sha}
          owner: ${{ github.event.repository.owner.login }}
          repo: ${{ github.event.repository.name }}
          sha: ${{ github.event.workflow_run.head_sha }}
          context: Status / CI
          state: ${{ env.CI_STATE }}
          description: ${{ env.CI_DESCRIPTION }}
          target_url: ${{ github.event.workflow_run.html_url }}
          GITHUB_TOKEN: ${{ steps.get-bot-token.outputs.token }}
