name: Lint merge commit

on:
  workflow_call:
    inputs:
      manager:
        type: string
        description: Package manager (pnpm, npm, or yarn)
      command:
        type: string
        description: Lint command to run
      npm-config-userconfig:
        type: string
        description: NPM configuration file path
    secrets:
      npm-auth-token:
        description: NPM authentication token for private packages
        required: false
env:
  INPUT_MANAGER: ${{ inputs.manager }}
  INPUT_COMMAND: ${{ inputs.command || 'pnpm run lint commit' }}
  NPM_AUTH_TOKEN: ${{ secrets.npm-auth-token }}
  NPM_CONFIG_USERCONFIG: ${{ inputs.npm-config-userconfig }}

permissions:
  contents: read
  pull-requests: read

jobs:
  lint-merge-commit:
    name: Lint merge commit
    runs-on: ubuntu-latest
    concurrency:
      group: lint-merge-commit-${{ github.event.pull_request.number }}
      cancel-in-progress: true

    steps:
      - name: Check auto merge
        if: github.event.pull_request.auto_merge == null
        run: |
          echo "Error: Auto merge is not enabled" && exit 1

      - name: Install
        uses: cluerise/actions/install@v7.0.2
        with:
          manager: ${{ env.INPUT_MANAGER }}

      - name: Lint commit message
        run: echo -en '${{ github.event.pull_request.auto_merge.commit_title }}\n\n${{ github.event.pull_request.auto_merge.commit_message }}' | ${{ env.INPUT_COMMAND }}

      - name: Lint commit title
        if: github.event.pull_request.auto_merge.commit_title != format('{0} (#{1})', github.event.pull_request.title, github.event.number)
        run: |
          echo "Error: Invalid commit title, use PR title and number" && exit 1

      - name: Get closing issues references
        id: get-closing-issues-references
        uses: octokit/graphql-action@v3.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          query: |
            query GetClosingIssuesReferences($owner: String!, $repo: String!, $number: Int!) {
              repository(owner: $owner, name: $repo) {
                pullRequest(number: $number) {
                  closingIssuesReferences(first: 100) {
                    nodes {
                      number
                    }
                  }
                }
              }
            }
          owner: ${{ github.event.repository.owner.login }}
          repo: ${{ github.event.repository.name }}
          number: ${{ github.event.number }}

      - name: Lint commit references
        run: |
          for ref in ${{ join(fromJSON(steps.get-closing-issues-references.outputs.data).repository.pullRequest.closingIssuesReferences.nodes.*.number, ' ') }}; do
            if [[ "${{ github.event.pull_request.auto_merge.commit_message }}" != *"#$ref"* ]]; then
              echo "Error: Invalid commit body, missing reference #$ref" && exit 1
            fi
          done
